.wrapper {
    //
    border: 1px solid #f5cb5c;
    display: flex;
    align-items: center;
    width: 15%;
    box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
    border-radius: 4px;
    padding: .2rem .5rem;
    margin-right: 1rem;
    height: 100%;

    span {
        color: #0d1b2a80;
    }

    .fav_coin {
        background-color: red;
        height: 100%;
        aspect-ratio: 1/1;
        border-radius: 50%;
        margin-right: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        cursor: pointer;

        img {
            width: 100%;
            height: auto;
            object-fit: cover;
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        //
        border: 1px solid #f5cb5c;
        display: flex;
        align-items: center;
        width: 50%;
        box-shadow: rgba(0, 0, 0, 0.1) 1.95px 1.95px 2.6px;
        border-radius: 4px;
        padding: .2rem .5rem;
        margin-right: .5rem;
        span {
            color: #0d1b2a80;
            font-size: .85rem;
            word-wrap: break-word;
        }

        .fav_coin {
            background-color: red;
            height: 100%;
            aspect-ratio: 1/1;
            border-radius: 50%;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            cursor: pointer;

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
            }
        }
    }
}