.wrapper {
    //
    height: 100%;
    display: flex;
    flex-direction: column;

    .card_container {
        background-color: #0d1b2a;
        box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
        width: 100%;
        display: flex;
        flex-direction: row;
        padding: .75rem 1rem;
        font-size: 1.4rem;
        color: #e0e1dd;
        border-radius: 2px;
        margin-bottom: 1rem;

        .card_left {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin-right: 2rem;

            .name {
                color: #f5cb5c;
                font-weight: 700;
            }

            .image_container {
                height: 50px;
                width: 50px;
                border-radius: 50%;
                border: 2px solid #f5cb5c;
                overflow: hidden;
                display: flex;
                justify-content: center;
                margin-right: .65rem;
                box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;

                img {
                    width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }

        .card_mid {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 50%;

            .mid_top {
                display: flex;
                color: #f5cb5c;
                margin-bottom: .5rem;

                .price {
                    font-weight: 700;
                    margin-right: 1rem;
                }

                .l24 {
                    color: #e71d36;

                    span {
                        color: #e0e1dd50;
                        font-size: 1.2rem;
                    }
                }
            }

            .mid_bottom {
                display: flex;

                .cap {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #f5cb5c;
                    margin-right: 1rem;
                    padding: .1rem 1.5rem;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;

                    span {
                        color: #e0e1dd50;
                        font-size: 1rem;
                    }
                }

                .fdv {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #f5cb5c;
                    margin-right: 1rem;
                    padding: .1rem 1.5rem;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;

                    span {
                        color: #e0e1dd50;
                        font-size: 1rem;
                    }
                }

                .liquidity {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid #f5cb5c;
                    margin-right: 1rem;
                    padding: .1rem 1.5rem;
                    border-radius: 4px;
                    box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;

                    span {
                        color: #e0e1dd50;
                        font-size: 1rem;
                    }
                }
            }
        }

        .card_right {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;

            .favorite {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
                display: flex;
                align-items: center;
                justify-content: center;

                svg {
                    color: #f5cb5c;
                }
            }
        }
    }

    .bottom {
        width: 100%;
        display: flex;
        border-bottom: 1px solid #f5cb5c;
        padding-bottom: 1rem;

        .chart_container {
            
            margin-right: 1rem;
            width: 70%;
        }

        .views_container {
            //
            width: 30%;

            .view {
                background-color: #0d1b2a;
                border: 1px solid #f5cb5c;
                box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
                width: 100%;
                margin-bottom: .5rem;
                padding: 1rem .5rem;
                cursor: grab;
                border-radius: 4px;
                transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    color: #ee6c4d;
                    border: 1px solid#ee6c4d;
                    background-color: #464e5798;
                }

                p {
                    font-weight: 600;
                    text-align: end;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .wrapper {
        //
        height: 100%;
        display: flex;
        flex-direction: column;
        width: 100%;

        .card_container {
            
            background-color: #0d1b2a;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: 1.2rem;
            color: #e0e1dd;
            border-radius: 4px;
            margin-bottom: 1rem;

            .card_left {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: .5rem;
                .name {
                    color: #f5cb5c;
                    font-weight: 700;
                }

                .image_container {
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    border: 2px solid #f5cb5c;
                    overflow: hidden;
                    display: flex;
                    justify-content: center;
                    margin-right: .45rem;
                    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;

                    img {
                        width: 100%;
                        height: auto;
                        object-fit: cover;
                    }
                }
            }

            .card_mid {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 100%;

                .mid_top {
                    display: flex;
                    color: #f5cb5c;
                    margin-bottom: .5rem;

                    .price {
                        font-weight: 700;
                        margin-right: 1rem;
                    }

                    .l24 {
                        color: #e71d36;

                        span {
                            color: #e0e1dd50;
                            font-size: 1.2rem;
                        }
                    }
                }

                .mid_bottom {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    .cap {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #f5cb5c;
                        padding: .1rem 1rem;
                        border-radius: 4px;
                        box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;
                        margin-bottom: .2rem;
                        span {
                            color: #e0e1dd50;
                            font-size: 1rem;
                        }
                    }

                    .fdv {
                        width: 100%;
                        margin-bottom: .2rem;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #f5cb5c;
                        
                        padding: .1rem 1rem;
                        border-radius: 4px;
                        box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;

                        span {
                            color: #e0e1dd50;
                            font-size: 1rem;
                        }
                    }

                    .liquidity {
                        margin-bottom: .2rem;
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border: 1px solid #f5cb5c;
                        padding: .1rem 1rem;
                        border-radius: 4px;
                        box-shadow: rgba(0, 0, 0, 0.25) 1.95px 1.95px 2.6px;

                        span {
                            color: #e0e1dd50;
                            font-size: 1rem;
                        }
                    }
                }
            }

            .card_right {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: auto;

                .favorite {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                    cursor: pointer;
                    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    svg {
                        color: #f5cb5c;
                    }
                }
            }
        }

        .bottom {
            
            width: 100%;
            display: flex;
            flex-direction: column-reverse;

            .chart_container {
                
                width: 100%;
            }

            .views_container {
                //
                width: 100%;

                .view {
                    background-color: #0d1b2a;
                    border: 1px solid #f5cb5c;
                    box-shadow: rgba(0, 0, 0, 0.35) 1.95px 1.95px 2.6px;
                    width: 100%;
                    margin-bottom: .5rem;
                    padding: .6rem .5rem;
                    cursor: grab;
                    border-radius: 4px;
                    transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);

                    &:hover {
                        color: #ee6c4d;
                        border: 1px solid#ee6c4d;
                        background-color: #464e5798;
                    }

                    p {
                        font-weight: 600;
                        text-align: center;
                    }
                }
            }
        }
    }
}