.wrapper{
    //border: 1px solid red;
    display: flex;
    width: 35%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    .searchbar{
        padding: .8rem;
        flex: 4;
        background-color: #FFFFFF;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        box-shadow: 0px 2px 1px 1px rgba(122,122,122,0.2) inset;
    }
    .button{
        padding: .8rem;
        flex: .3;
        background-color: #6a6e71;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        box-shadow: -2px 0px 3px 0px rgba(112, 112, 112, 0.35);
    }
}